################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/Convertitore-VisualBasic-WinForm/obj
/Convertitore-CSharp-WPF/obj
